<table class="table">
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @activities.each do |a| %>
  <tr>
    <td><%= a.activity_category.name %></td>
    <td><%= a.name %></td>
    <td><%= a.description %></td>
    <td><%= link_to 'Edit', edit_activity_path(a) %> <%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br>
<%= link_to 'New Activity', new_activity_path %>
