<!DOCTYPE html>
<html>
<head>
  <title>Planner</title>
  <%= stylesheet_link_tag    "http://code.jquery.com/ui/jquery-ui-git.css", "application", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-2.0.3.min.js","http://code.jquery.com/ui/1.10.3/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>
  <base target="_self">
</head>
<body>
<div id="header">
<div id="menu">
  <ul>
    <li class="green">
      <p><a href="#" id="home">Home</a></p>
      <p class="subtext">The front page</p>
    </li>
    <li class="yellow">
      <p><a href="#" id="about">About</a></p>
      <p class="subtext">More info</p>
    </li>
    <li class="red">
      <p><a href="#" id="contact">Contact</a></p>
      <p class="subtext">Get in touch</p>
    </li>
    <li class="blue">
      <p><a href="#" id="catalog">Catalog</a></p>
      <p class="subtext">Take a look</p>
    </li>
    <li class="purple">
      <p><a href="#" id="planner">Planner</a></p>
      <p class="subtext">Legal things</p>
    </li>
  </ul>
</div>
<div id="auth">
  <% if user_signed_in?%>
      <div class="btn-group">
        <a class="btn btn-inverse" href="#"><i class="icon-user icon-white"></i> <%= current_user.name %></a>
        <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href=<%=edit_user_registration_path %>><i class="icon-pencil"></i> Edit</a></li>
          <% if current_user.admin %>
            <li><a href="#" id="admin"><i class="icon-wrench"></i> Admin menu</a></li>
          <% end %>
        </ul>
      </div>
      <div id="sign_out">
        <%=button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" , confirm: "Are you sure?"%>
      </div>
  <%else%>
      <div id="sign_in">
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-inverse"%> or <%=link_to "Sign Up", new_user_registration_path, class: "btn btn-inverse" %>
      </div>
  <%end%>

</div>
</div>

<br>
<div id="container">
  <%= yield %>
</div>
</body>
</html>
